# Managed by Ansible (time_sync)
{% for s in ntp_servers %}
pool {{ s }} iburst
{% endfor %}
driftfile /var/lib/chrony/chrony.drift
makestep 1.0 3
rtcsync
keyfile /etc/chrony.keys
logdir /var/log/chrony
